<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script th:inline="javascript">

  function LoopTest() {
    let json = [[${ map_list }]];

    for (let i = 0; i < json.length; i++) {
      let obj = json[i];
      console.log(obj.id + ", " + obj.signatureOne + ", " + obj.signatureTwo);

      var y = document.createElement('input');
      y.type = "text";
      y.value = "ID: " + (obj.id);
      document.getElementById('test').appendChild(y);

      var v = document.createElement('input');
      v.type = "text";
      v.style.width = '250px';
      v.value = (obj.signatureOne);
      document.getElementById('test').appendChild(v);

      var z = document.createElement('input');
      z.type = "text";
      z.style.width = '250px';
      z.value = (obj.signatureTwo);
      document.getElementById('test').appendChild(z);

      var q = document.createElement('button');
      q.type = "button";
      q.value = (obj.id);
      q.style.width = '300px';
      q.style.height = '20px';
      q.name = "testovanie";
      document.getElementById('test').appendChild(q);

      var m = document.createElement('button');
      m.type = "button";
      m.value = (obj.id);
      m.style.width = '300px';
      m.style.height = '20px';
      m.name = "testovanie";
      document.getElementById('test').appendChild(m);


      q.addEventListener('click', function () {
        window.location.replace("/downloadPdf/" + obj.id);
      });

      m.addEventListener('click', function () {
        window.location.replace("/delete/" + obj.id);
        form.reset();
      });

      var linebreak = document.createElement("br");
      document.getElementById('test').appendChild(linebreak);

    };

  }


</script>

<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>

<body>
  <h2> Documents overview: </h2>

  <br>
  <br>

  <input type="button" value="save" id="btn" size="30" onclick="LoopTest()" style="position:can;top:30%;left:7%;">

  <h1 id="test"></h1>

</body>

</html>