<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script th:inline="javascript">

  function LoopTest() {
    var i = 0;
    var stop = 5;
    for (i = 0; i < 5; i++) {

      var v = document.createElement('button');
      v.style.width = '300px';
      v.style.height = '20px';
      v.type = "button";
      //v.onclick = teest;

     v.addEventListener('click', function(){
      alert('hello');
     });


      v.value = "[[${link}]] " + i;
      document.getElementById('test').appendChild(v);

    }
  }

  function teest() {
    alert('hello');
  }

  function LoopTest2() {
    let json = [[${ map_list2 }]];


    for (let i = 0; i < json.length; i++) {
      let obj = json[i];
      console.log(obj.id + ", " + obj.signatureOne + ", " + obj.signatureTwo);





      var y = document.createElement('input');
      y.type = "text";
      y.value = "ID: " + (obj.id);
      document.getElementById('test').appendChild(y);

      var v = document.createElement('input');
      v.type = "text";
      v.value = (obj.signatureOne);
      document.getElementById('test').appendChild(v);

      var z = document.createElement('input');
      z.type = "text";
      z.value = (obj.signatureTwo);
      document.getElementById('test').appendChild(z);

      var q = document.createElement('button');
      q.type = "button";
      q.value = (obj.id);
      q.style.width = '300px';
      q.style.height = '20px';
      q.name = "testovanie";
      q.onclick = alert('hello');
      document.getElementById('test').appendChild(q);


      var linebreak = document.createElement("br");
      document.getElementById('test').appendChild(linebreak);

    }

  }

  function LoopTest2test() {
    let json = [{
      "id": "1",
      "msg": "hi",
      "tid": "2013-05-05 23:35",
      "fromWho": "hello1@email.se"
    },
    {
      "id": "2",
      "msg": "there",
      "tid": "2013-05-05 23:45",
      "fromWho": "hello2@email.se"
    }];

    for (let i = 0; i < json.length; i++) {
      let obj = json[i];

      console.log(obj.id);
    }
  }



</script>




<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>

<body>
  <h2> Link pre prvý podpis: </h2>

  <br>
  <br>
  <br>

  <input type="button" value="save" id="btn" size="30" onclick="LoopTest()" style="position:can;top:30%;left:7%;">
  <input type="button" value="save" id="btn2" size="30" onclick="LoopTest2()" style="position:can;top:30%;left:7%;">


  <h1 id="test"> </h1>


</body>

</html>