<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script th:inline="javascript">

  function LoopTest() {
    var i = 0;
    var stop = 5;
    for (i = 0; i < 5; i++) {
      var v = document.createElement('input');
      v.type = "button";
      v.value = "[[${link}]] " + i;
      document.getElementById('test').appendChild(v);
    }
  }


  function LoopTest2() {
    let json = [[${map_list2}]];
    for (let i = 0; i < json.length; i++) {
      let obj = json[i];
      console.log(obj.id + ", " + obj.signatureOne + ", " + obj.signatureTwo);
    }
  }

  function LoopTest2test() {
    let json = [{
      "id": "1",
      "msg": "hi",
      "tid": "2013-05-05 23:35",
      "fromWho": "hello1@email.se"
    },
    {
      "id": "2",
      "msg": "there",
      "tid": "2013-05-05 23:45",
      "fromWho": "hello2@email.se"
    }];

    for (let i = 0; i < json.length; i++) {
      let obj = json[i];

      console.log(obj.id);
    }
  }



</script>




<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>

<body>
  <h2> Link pre prvý podpis: </h2>

  <br>
  <br>
  <br>

  <h2> Link pre druhý podpis: </h2>

  <input type="button" value="save" id="btn" size="30" onclick="LoopTest()" style="position:can;top:30%;left:7%;">
  <input type="button" value="save" id="btn2" size="30" onclick="LoopTest2()" style="position:can;top:30%;left:7%;">




  <div id="test" class="nav">
    Music I Like
  </div>



  <tr th:each="map : ${map_list}">
    <td> ID:</td>
    <td th:text="${map.get('id')}"></td>
    <td> Nume:</td>
    <td th:text="${map.get('name')}"></td>
  </tr>

  <br>
  <br>
  <br>


</body>

</html>